In [36]:
import pytesseract
from pytesseract import Output
import csv
import pandas as pd
pytesseract.pytesseract.tesseract_cmd = "C:\\Program Files\\Tesseract-OCR\\tesseract.exe"
import cv2
import numpy as np
from matplotlib import pyplot as plt
img = cv2.imread('4.JPG')
height, width, channel = img.shape

def imshow(img, label='default'):
    cv2.imshow(label, img)
    cv2.waitKey(0)
    cv2.destroyAllWindows()
    
img = cv2.resize(img, (width*2, height*2))

alpha = 0.9
beta = 0
adjusted = cv2.convertScaleAbs(img, alpha=alpha, beta=beta)
adjusted = cv2.resize(adjusted, (width*2, height * 2))

height, width, channel = img.shape


# Convert image to grey scale, erode horizontally and draw horizontal line
gray_image = cv2.cvtColor(adjusted, cv2.COLOR_BGR2GRAY)
thresh_img = cv2.threshold(gray_image, 0, 255, cv2.THRESH_BINARY+cv2.THRESH_OTSU)[1]


kernel = np.ones((1,30), np.uint8)  #for horizontal erosion
e_im = cv2.erode(gray_image, kernel, iterations=2)  #performing erosion



edges = cv2.Canny(e_im,0,150,apertureSize = 5)     #edges

minLineLength=333
#houghlines for detecting those erosion lines
lines = cv2.HoughLinesP(image=edges,rho=0.5,theta=np.pi/180, threshold=222,lines=np.array([]), minLineLength=minLineLength,maxLineGap=7) 
a,b,c = lines.shape
# Draw the lines
if lines is not None:
    for i in range(0, len(lines)):
        l = lines[i][0]
        cv2.line(thresh_img, (l[0], l[1]), (l[2], l[3]), (0, 0, 255), 3, cv2.LINE_AA)

imshow(thresh_img)

#New kernel for Vertical erode and line
kernel = np.ones((500,12), np.uint8)  #for horizontal erosion
e_im = cv2.erode(gray_image, kernel, iterations=4)  #performing erosion
#imshow(e_im)

edges = cv2.Canny(e_im,100,0,apertureSize = 3)
#imshow(edges)


lines = cv2.HoughLinesP(image=edges,rho=0.5,theta=np.pi/180, threshold=222,lines=np.array([]), minLineLength=minLineLength,maxLineGap=7) 
a,b,c = lines.shape
# Draw the lines
if lines is not None:
    for i in range(0, len(lines)):
        l = lines[i][0]
        cv2.line(thresh_img, (l[0], l[1]), (l[2], l[3]), (0, 0, 255), 3, cv2.LINE_AA)

imshow(thresh_img)

In [35]:
# Create computer vision

custom_config = r'-l eng --oem 3 --psm 6 -c tessedit_char_whitelist="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-:.$%./@& *"'
d = pytesseract.image_to_data(thresh_img, config=custom_config, output_type=Output.DICT)
df = pd.DataFrame(d)

# clean up blanks
df1 = df[(df.conf != '-1') & (df.text != ' ') & (df.text != '')]
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# sort blocks vertically
sorted_blocks = df1.groupby('block_num').first().sort_values('top').index.tolist()
for block in sorted_blocks:
    curr = df1[df1['block_num'] == block]
    sel = curr[curr.text.str.len() > 3]
    # sel = curr
    char_w = (sel.width / sel.text.str.len()).mean()
    prev_par, prev_line, prev_left = 0, 0, 0
    text = ''
    for ix, ln in curr.iterrows():
        
        # add new line when necessary
        if prev_par != ln['par_num']:
            text += '\n'
            prev_par = ln['par_num']
            prev_line = ln['line_num']
            prev_left = 0
        elif prev_line != ln['line_num']:
            text += '\n'
            prev_line = ln['line_num']
            prev_left = 0

        added = 0  # num of spaces that should be added
        if ln['left'] / char_w > prev_left + 1:
            added = int((ln['left']) / char_w) - prev_left
            text += ' ' * added
        text += ln['text'] + ' '
        prev_left += len(ln['text']) + added + 1
        
    text += '\n'
    print(text)
    
    check = list(text.split("\n"))

   Nischal       Tv Today        Manager            Information    nischal.maheshwari@intoday.com           9818444340
  Maheshwari     Network                            Technology
  @  Sandeep     Zee Media       Manager            Information    sandeep.mishra@zeemedia.esselgroup.com   9811417694
  Mishra         Limited.                           Technology
  @  Prashant                    Manager            IT             prashant.bhardwaj@flexfilm.com           0
  Bhardwaj                       Manager - IT                                                               9873912930
  Ravi           Uflex           GM  Sr GM          IT             ravi.ramakrishnan@flexfilm.com           9891001443
  Ramakrishnan                   Global-IT

In [43]:
#Now read junk data


output_text = []
test = []
custom_config = r'-l eng --oem 3 --psm 6 -c tessedit_char_whitelist="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-:.$%./@& *"'


# Get all OCR output information from pytesseract
ocr_output_details = pytesseract.image_to_data(thresh_img, output_type = Output.DICT, config=custom_config, lang='eng')
# Total bounding boxes
n_boxes = len(ocr_output_details['text'])

# Extract and draw rectangles for all bounding boxes
for i in range(n_boxes):
    (x, y, w, h) = (ocr_output_details['left'][i], ocr_output_details['top'][i], ocr_output_details['width'][i], ocr_output_details['height'][i])
    cv2.rectangle(img, (x, y), (x + w, y + h), (0, 255, 0), 2)

# Print OCR Output
print(ocr_output_details.keys())

# Arrange output text from OCR into the format as per image

word_list = []
last_word = []

for word in ocr_output_details['text']:
    # If there is no text in an element
    if word != '':
        word_list.append(word)
        last_word = word
    # Append final list of words with valid words
    if (last_word != '' and word == '') or (word == ocr_output_details['text'][-1]):
        output_text.append(word_list)
        test.append(word_list)
        word_list = []

dict_keys(['level', 'page_num', 'block_num', 'par_num', 'line_num', 'word_num', 'left', 'top', 'width', 'height', 'conf', 'text'])

In [45]:
output_text

[[],
 [],
 [],
 [],
 [' Nischal',
  'Tv',
  'Today',
  'Manager',
  'Information',
  'nischal.maheshwari@intoday.com',
  '9818444340'],
 ['Maheshwari', 'Network', 'Technology'],
 [],
 ['@',
  'Sandeep',
  'Zee',
  'Media',
  'Manager',
  'Information',
  'sandeep.mishra@zeemedia.esselgroup.com',
  '9811417694'],
 ['Mishra', 'Limited.', 'Technology'],
 [],
 ['@', 'Prashant', 'Manager', 'IT', 'prashant.bhardwaj@flexfilm.com', '0'],
 ['Bhardwaj', 'Manager', '-', 'IT', '9873912930'],
 ['Ravi',
  'Uflex',
  'GM',
  'Sr',
  'GM',
  'IT',
  'ravi.ramakrishnan@flexfilm.com',
  '9891001443'],
 ['Ramakrishnan', 'Global-IT']]

In [46]:
check

['',
 '   Nischal       Tv Today        Manager            Information    nischal.maheshwari@intoday.com           9818444340 ',
 '  Maheshwari     Network                            Technology ',
 '  @  Sandeep     Zee Media       Manager            Information    sandeep.mishra@zeemedia.esselgroup.com   9811417694 ',
 '  Mishra         Limited.                           Technology ',
 '  @  Prashant                    Manager            IT             prashant.bhardwaj@flexfilm.com           0 ',
 '  Bhardwaj                       Manager - IT                                                               9873912930 ',
 '  Ravi           Uflex           GM  Sr GM          IT             ravi.ramakrishnan@flexfilm.com           9891001443 ',
 '  Ramakrishnan                   Global-IT ',
 '']

In [47]:



def get_column(check, word, start):
    global low_row
    word = word.strip()
    
    flag = False
    for i, check_line in enumerate(check[start:]):
    
        if check_line:
            try:
                if not word in check_line:
                    print(".")
                else:
                    fetched_pos = check_line.lower().find(word.lower())
                    print("fetched pos ", fetched_pos)
                    flag = True
                    print(i)
                    if fetched_pos < 16:
                        column = 0
                    elif fetched_pos < 33:
                        column = 1
                    elif fetched_pos < 52:
                        column = 2
                    elif fetched_pos < 67:
                        column = 3
                    elif fetched_pos < 108 and "@" in word:
                        column = 4
                    else:
                        column = 5 
                    
                    print(f"{word} is in row: {low_row}, column: {column}")
                    return [i, column]
            except UnboundLocalError:
                print("THIS Could not find word.")
                return -1
    if not flag:
        print(f"Did not find \n {word}")
        return [flag,flag]
    else:
        low_row+= 1

In [48]:
#Look through lens

all_row = []
low_row = 0
for line in output_text:
    print(f"Line has {len(line)} words.")

    if line:
        print(line)
        row = [0 for x in range(7)]
        for idx, word in enumerate(line):
            print(idx,word)
            if word == '@' or word == '&' or word == "." or word == "@&":
                continue
            pos = get_column(check, word, low_row)
            row_num = pos[0]
            column = pos[1]
            print(column)
            
            if not column and not column == 0 :
                #low_row = low_row.append(line)
                break
                
            elif type(row[column]) == int:
                row[column] = word
            elif type(row[column]) == str:
                row[column]+= ' '+word
      
    
        print(row)
        row.append(row_num)
        all_row.append(row)
            
    else:
        print(line)

Line has 0 words.
[]
Line has 0 words.
[]
Line has 0 words.
[]
Line has 0 words.
[]
Line has 7 words.
[' Nischal', 'Tv', 'Today', 'Manager', 'Information', 'nischal.maheshwari@intoday.com', '9818444340']
0  Nischal
fetched pos  3
1
Nischal is in row: 0, column: 0
0
1 Tv
fetched pos  17
1
Tv is in row: 0, column: 1
1
2 Today
fetched pos  20
1
Today is in row: 0, column: 1
1
3 Manager
fetched pos  33
1
Manager is in row: 0, column: 2
2
4 Information
fetched pos  52
1
Information is in row: 0, column: 3
3
5 nischal.maheshwari@intoday.com
fetched pos  67
1
nischal.maheshwari@intoday.com is in row: 0, column: 4
4
6 9818444340
fetched pos  108
1
9818444340 is in row: 0, column: 5
5
[' Nischal', 'Tv Today', 'Manager', 'Information', 'nischal.maheshwari@intoday.com', '9818444340', 0]
Line has 3 words.
['Maheshwari', 'Network', 'Technology']
0 Maheshwari
.
fetched pos  2
2
Maheshwari is in row: 0, column: 0
0
1 Network
.
fetched pos  17
2
Network is in row: 0, column: 1
1
2 Technology
.
fetched pos  52
2
Technology is in row: 0, column: 3
3
['Maheshwari', 'Network', 0, 'Technology', 0, 0, 0]
Line has 0 words.
[]
Line has 8 words.
['@', 'Sandeep', 'Zee', 'Media', 'Manager', 'Information', 'sandeep.mishra@zeemedia.esselgroup.com', '9811417694']
0 @
1 Sandeep
.
.
fetched pos  5
3
Sandeep is in row: 0, column: 0
0
2 Zee
.
.
fetched pos  17
3
Zee is in row: 0, column: 1
1
3 Media
.
.
fetched pos  21
3
Media is in row: 0, column: 1
1
4 Manager
fetched pos  33
1
Manager is in row: 0, column: 2
2
5 Information
fetched pos  52
1
Information is in row: 0, column: 3
3
6 sandeep.mishra@zeemedia.esselgroup.com
.
.
fetched pos  67
3
sandeep.mishra@zeemedia.esselgroup.com is in row: 0, column: 4
4
7 9811417694
.
.
fetched pos  108
3
9811417694 is in row: 0, column: 5
5
['Sandeep', 'Zee Media', 'Manager', 'Information', 'sandeep.mishra@zeemedia.esselgroup.com', '9811417694', 0]
Line has 3 words.
['Mishra', 'Limited.', 'Technology']
0 Mishra
.
.
.
fetched pos  2
4
Mishra is in row: 0, column: 0
0
1 Limited.
.
.
.
fetched pos  17
4
Limited. is in row: 0, column: 1
1
2 Technology
.
fetched pos  52
2
Technology is in row: 0, column: 3
3
['Mishra', 'Limited.', 0, 'Technology', 0, 0, 0]
Line has 0 words.
[]
Line has 6 words.
['@', 'Prashant', 'Manager', 'IT', 'prashant.bhardwaj@flexfilm.com', '0']
0 @
1 Prashant
.
.
.
.
fetched pos  5
5
Prashant is in row: 0, column: 0
0
2 Manager
fetched pos  33
1
Manager is in row: 0, column: 2
2
3 IT
.
.
.
.
fetched pos  52
5
IT is in row: 0, column: 3
3
4 prashant.bhardwaj@flexfilm.com
.
.
.
.
fetched pos  67
5
prashant.bhardwaj@flexfilm.com is in row: 0, column: 4
4
5 0
fetched pos  117
1
0 is in row: 0, column: 5
5
['Prashant', 0, 'Manager', 'IT', 'prashant.bhardwaj@flexfilm.com', '0', 0]
Line has 5 words.
['Bhardwaj', 'Manager', '-', 'IT', '9873912930']
0 Bhardwaj
.
.
.
.
.
fetched pos  2
6
Bhardwaj is in row: 0, column: 0
0
1 Manager
fetched pos  33
1
Manager is in row: 0, column: 2
2
2 -
.
.
.
.
.
fetched pos  41
6
- is in row: 0, column: 2
2
3 IT
.
.
.
.
fetched pos  52
5
IT is in row: 0, column: 3
3
4 9873912930
.
.
.
.
.
fetched pos  108
6
9873912930 is in row: 0, column: 5
5
['Bhardwaj', 0, 'Manager -', 'IT', 0, '9873912930', 0]
Line has 8 words.
['Ravi', 'Uflex', 'GM', 'Sr', 'GM', 'IT', 'ravi.ramakrishnan@flexfilm.com', '9891001443']
0 Ravi
.
.
.
.
.
.
fetched pos  2
7
Ravi is in row: 0, column: 0
0
1 Uflex
.
.
.
.
.
.
fetched pos  17
7
Uflex is in row: 0, column: 1
1
2 GM
.
.
.
.
.
.
fetched pos  33
7
GM is in row: 0, column: 2
2
3 Sr
.
.
.
.
.
.
fetched pos  37
7
Sr is in row: 0, column: 2
2
4 GM
.
.
.
.
.
.
fetched pos  33
7
GM is in row: 0, column: 2
2
5 IT
.
.
.
.
fetched pos  52
5
IT is in row: 0, column: 3
3
6 ravi.ramakrishnan@flexfilm.com
.
.
.
.
.
.
fetched pos  67
7
ravi.ramakrishnan@flexfilm.com is in row: 0, column: 4
4
7 9891001443
.
.
.
.
.
.
fetched pos  108
7
9891001443 is in row: 0, column: 5
5
['Ravi', 'Uflex', 'GM Sr GM', 'IT', 'ravi.ramakrishnan@flexfilm.com', '9891001443', 0]
Line has 2 words.
['Ramakrishnan', 'Global-IT']
0 Ramakrishnan
.
.
.
.
.
.
.
fetched pos  2
8
Ramakrishnan is in row: 0, column: 0
0
1 Global-IT
.
.
.
.
.
.
.
fetched pos  33
8
Global-IT is in row: 0, column: 2
2
['Ramakrishnan', 0, 'Global-IT', 0, 0, 0, 0]

In [49]:
for r in all_row:
    print(*r, sep="\t")

 Nischal	Tv Today	Manager	Information	nischal.maheshwari@intoday.com	9818444340	0	1
Maheshwari	Network	0	Technology	0	0	0	2
Sandeep	Zee Media	Manager	Information	sandeep.mishra@zeemedia.esselgroup.com	9811417694	0	3
Mishra	Limited.	0	Technology	0	0	0	2
Prashant	0	Manager	IT	prashant.bhardwaj@flexfilm.com	0	0	1
Bhardwaj	0	Manager -	IT	0	9873912930	0	6
Ravi	Uflex	GM Sr GM	IT	ravi.ramakrishnan@flexfilm.com	9891001443	0	7
Ramakrishnan	0	Global-IT	0	0	0	0	8

In [50]:
test = pd.DataFrame(all_row)
test

,0,1,2,3,4,5,6,7
0,Nischal,Tv Today,Manager,Information,nischal.maheshwari@intoday.com,9818444340,0,1
1,Maheshwari,Network,0,Technology,0,0,0,2
2,Sandeep,Zee Media,Manager,Information,sandeep.mishra@zeemedia.esselgroup.com,9811417694,0,3
3,Mishra,Limited.,0,Technology,0,0,0,2
4,Prashant,0,Manager,IT,prashant.bhardwaj@flexfilm.com,0,0,1
5,Bhardwaj,0,Manager -,IT,0,9873912930,0,6
6,Ravi,Uflex,GM Sr GM,IT,ravi.ramakrishnan@flexfilm.com,9891001443,0,7
7,Ramakrishnan,0,Global-IT,0,0,0,0,8

In [51]:
test = pd.DataFrame(all_row)
test.columns = ['Name','Company','Designation','Department','Email','Phone','Score','Row']
test['Name'] = test['Name'].replace(0, np.nan)
test['Name'].ffill(inplace =True)

,Name,Company,Designation,Department,Email,Phone,Score,Row
0,Nischal,Tv Today,Manager,Information,nischal.maheshwari@intoday.com,9818444340,0,1
1,Maheshwari,Network,0,Technology,0,0,0,2
2,Sandeep,Zee Media,Manager,Information,sandeep.mishra@zeemedia.esselgroup.com,9811417694,0,3
3,Mishra,Limited.,0,Technology,0,0,0,2
4,Prashant,0,Manager,IT,prashant.bhardwaj@flexfilm.com,0,0,1
5,Bhardwaj,0,Manager -,IT,0,9873912930,0,6
6,Ravi,Uflex,GM Sr GM,IT,ravi.ramakrishnan@flexfilm.com,9891001443,0,7
7,Ramakrishnan,0,Global-IT,0,0,0,0,8

,Name,Company,Designation,Department,Email,Phone,Score,Row
0,Nischal,Tv Today,Manager,Information,nischal.maheshwari@intoday.com,9818444340,0,1
1,Maheshwari,Network,0,Technology,0,0,0,2
2,Sandeep,Zee Media,Manager,Information,sandeep.mishra@zeemedia.esselgroup.com,9811417694,0,3
3,Mishra,Limited.,0,Technology,0,0,0,2
4,Prashant,0,Manager,IT,prashant.bhardwaj@flexfilm.com,0,0,1
5,Bhardwaj,0,Manager -,IT,0,9873912930,0,6
6,Ravi,Uflex,GM Sr GM,IT,ravi.ramakrishnan@flexfilm.com,9891001443,0,7
7,Ramakrishnan,0,Global-IT,0,0,0,0,8

In [ ]:
for _ in names:
    row_df =